[submodule "lib/libbio"]
	path = lib/libbio
	url = https://github.com/tsnorri/libbio.git
[submodule "lib/cereal"]
	path = lib/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "lib/sdsl-lite"]
	path = lib/sdsl-lite
	url = https://github.com/xxsds/sdsl-lite.git
[submodule "lib/seqan3"]
	path = lib/seqan3
	url = https://github.com/tsnorri/seqan3.git
[submodule "lib/swift-corelibs-libdispatch"]
	path = lib/swift-corelibs-libdispatch
	url = https://github.com/apple/swift-corelibs-libdispatch.git
[submodule "lib/rapidcheck"]
	path = lib/rapidcheck
	url = https://github.com/emil-e/rapidcheck.git
[submodule "lib/libkqueue"]
	path = lib/libkqueue
	url = https://github.com/mheily/libkqueue.git
